<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'display_details/style1.css' %}">
    {% block title %}  {% endblock %}
</head>
<body>

    <header>
        <a href="#">
            Home
        </a>
    </header>
    {% block content %} 

    {% endblock %}
    
    <footer>
        <a href="#">
            Home
        </a>
    </footer>
</body>
</html>